
a {
    color: #75941f;
}

.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

.quickFlip {
    height: 240px;
    width: 240px;
    float: left;
}

.panel1, .panel2, .panel3 {
    height: 240px;
    width: 240px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    color: black;
    font-size: 10px;
    font-family: "Trebuchet MS", Verdana, Sans-serif, sans;
    line-height: 2em;
}

.panel1 {
    background-color: #95BD28;
    z-index: 10;
}

.panel2 {
    background-color: white;
    color: black;
}

/* .addthis_toolbox {
    width: 240px;
    margin: 30px auto;
}

.addthis_toolbox a {
    color: #000;
}
 */
