.flipbox-container {
   margin: 5px 5px 5px 5px;
   padding:2px 2px 2px 2px;
}

.quickFlip {
    height: 236px;
    width: 236px;
    float: left;
}

.panel1, .panel3 {
    height:90%;
    width:90%;
    position: absolute;
    overflow: hidden;
    color: black;
}
.panel1 img {
    height:90%;
    width:90%;
    position:absolute;
    margin:11px 0px 5px 11px;
    box-shadow: 2px 2px 5px black;
}

.panel2 {
    position:absolute;
    background-color: white;
    color: black;
    line-height:100%;
    box-shadow: 5px 5px 25px black;
    z-index:2;
    font-size:95%;
    text-align:left;
}
 

.panel2 h2, .panel2 p, .panel2 a {
    margin:5px 5px 5px 5px;
    font-weight:normal;
}
