.tileFlip {
    height: 300px;
    width: 300px;
    position:relative;
    float: left;
}

.panel1,.panel2,.panel3, {
    position:absolute;
    overflow: hidden;
    text-align: center;
    line-height: 2em;
}

.panel1 img {height:100%;width:100%;}

.panel1 {
    color:black;
}

.panel2 {
    background-color:white;
    color:black;
}

